*{
    margin: 0;
    padding: 0;
}

.head{
    background-color: #242424;
    display: flex;
    justify-content: center;   
    justify-content: space-evenly;
    padding: 10px;
}

.logo-text{
    color: whitesmoke;
}

.links{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 20px;
}

.contenedor-links{
    margin-top: 7px;
    margin-left: 750px;
}

.links:hover{
    color: cadetblue;
}

